* {
  padding: unset;
  margin: unset;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.arrow-button {
  color: white;
}

.name-language {
  font-size: 20px;
  margin-left: 20px;
}

.img-language {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.blue-color {
  color: #00d0ff;
}

.name-img-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5px;
}

.home-bg-container {
  padding-bottom: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  position: absolute;
  background: linear-gradient(
    #ff2400,
    #4e0c0c,
    #836609,
    #797a0a,
    #11641f,
    #0f5357,
    #100c52,
    #791083,
    #8f0d3f
  );
  background-size: 1800% 1800%;

  -webkit-animation: rainbow 10s ease infinite;
  -z-animation: rainbow 10s ease infinite;
  -o-animation: rainbow 10s ease infinite;
  animation: rainbow 10s ease infinite;
}

@-webkit-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-moz-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-o-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}

.avatar {
  /* border-radius: 1000px; */
  border-radius: 15px 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 50px;
  height: 460px;
  width: 380px;
}

.home-name {
  color: white;
  font-size: 120px;
  font-family: "Epilogue", sans-serif;
  font-weight: 1000;
}

.description {
  color: white;
  font-weight: 500;
  font-family: "Kdam Thmor Pro", sans-serif;
  font-size: 35px;
}

.name-container {
  height: 900px;
  /* margin-top: 340px; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 100px;
  align-self: flex-start;
}

.down-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  width: 100%;
  padding-bottom: 170px;
}

.about-container {
  width: 100%;
  height: 450px;
  background-image: url("https://res.cloudinary.com/dxnhvq8pl/image/upload/v1655625293/curve/Lovepik_com-611644583-Vector_curve_wave_lines_hhde8s.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  background-color: black;
  scroll-behavior: smooth;
}

.ul-container {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 1200px;
}

.ul-skillSet-container {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 1200px;
}

.skills-container {
  width: 100%;
  background-color: white;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
  padding-bottom: 150px;
}

.minusTenDegrees {
  transform: skew(0deg, -10deg);
}

.press-more-container {
  width: 100%;
  background-color: rgb(32, 30, 61);
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
  padding-bottom: 150px;
}

.skill-set-container {
  width: 100%;
  background-color: rgb(255, 255, 255);
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
  padding-bottom: 150px;
}

.h-d {
  margin-bottom: 30px;
  text-align: center;
}

.tenDegrees {
  transform: skew(0deg, 10deg);
}

.skewed1 {
  /* position: absolute;
  bottom: 0;
  left: 0;
  border-width: 100px 1500px 0 0; */
  border-color: transparent #ffffff transparent transparent;
  /*border-width: 100px 0 0 1500px;
    border-color: transparent transparent transparent #ffffff;*/
  /* border-style: solid; */
}

.custom-shape-divider-bottom-1655627644 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1655627644 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 255px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1655627644 .shape-fill {
  fill: #ffffff;
}

.delyaDesign {
  transition-delay: 250ms;
  transition-property: margin-right;
}

.heading {
  font-family: Mont, sans-serif;
  font-size: 64px;
  font-weight: 1000;
}

.sub-heading {
  color: #808099;
  font-family: "Epilogue";
  font-size: 40px;
}

.blueColor {
  color: rgb(34, 34, 68);
}

.whiteColor {
  color: #ffffff;
}

.font {
  font-size: 70px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 0;
  background-color: rgb(0, 0, 0);
  width: 100%;
}

.p-t-b {
  padding-top: 150px;
  padding-bottom: 150px;
}

.container .box {
  position: relative;
  width: 320px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 30px;
  transition: 0.5s;
}

.container .box::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 50px;
  width: 50%;
  height: 100%;
  text-decoration: none;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
}

.container .box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50;
  width: 50%;
  height: 100%;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
  filter: blur(30px);
}

.container .box:hover:before,
.container .box:hover:after {
  transform: skewX(0deg);
  left: 20px;
  width: calc(100% - 90px);
}

.container .box:nth-child(1):before,
.container .box:nth-child(1):after {
  background: linear-gradient(315deg, #ffbc00, #ff0058);
}

.container .box:nth-child(2):before,
.container .box:nth-child(2):after {
  background: linear-gradient(315deg, #03a9f4, #ff0058);
}

.container .box:nth-child(3):before,
.container .box:nth-child(3):after {
  background: linear-gradient(315deg, #4dff03, #00d0ff);
}

.container .box span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  pointer-events: none;
}

.container .box span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.1s;
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

.container .box:hover span::before {
  top: -50px;
  left: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

.container .box span::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.5s;
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  animation-delay: -1s;
}

.container .box:hover span:after {
  bottom: -50px;
  right: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

@keyframes animate {
  0%,
  100% {
    transform: translateY(10px);
  }

  50% {
    transform: translate(-10px);
  }
}

.container .box .content {
  position: relative;
  left: 0;
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1;
  transform: 0.5s;
  color: #fff;
}

.container .box:hover .content {
  left: -25px;
  padding: 60px 40px;
}

.container .box .content h2 {
  font-size: 2em;
  color: #fff;
  margin-bottom: 10px;
}

.container .box .content p {
  font-size: 1.1em;
  margin-bottom: 10px;
  line-height: 1.4em;
}

.container .box .content a {
  display: inline-block;
  font-size: 1.1em;
  color: #111;
  background: #fff;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 700;
  margin-top: 5px;
}

.container .box .content a:hover {
  background: #ffcf4d;
  border: 1px solid rgba(255, 0, 88, 0.4);
  box-shadow: 0 1px 15px rgba(1, 1, 1, 0.2);
}
